@import url('https://fonts.cdnfonts.com/css/ethnocentric');

*, *::after, *::before{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  transition-duration: .5s;
  color: #fff;
}
ul,ol,li{
  list-style: none;
}
img{
  vertical-align: top;
}
html,body{
  height: 100%;
  scroll-behavior: smooth;
  font-size: 1rem;
  font-family: 'Open Sans';
  color: #fff;
  background-color: #161616;
}
body.lock{
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
  color: #fff;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fafafa;
}
::-webkit-scrollbar-thumb{
  background: rgba(154, 251, 240, .7); 
}
::-webkit-scrollbar-thumb:hover{
  background: #9DFFF3;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  background-color: #000;
}
.main{
  flex: 1 1 auto;
}
[class*="__container"]{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}
[class*="__content"]{
  margin: 7rem 0;
}
@media(max-width: 1399.98px){
  [class*="__container"]{
      max-width: 750px;
  }
}
@media(max-width: 767.98px){
  [class*="__container"]{
      max-width: none;
  }
}


.main {
  background: url('/img/main_background.png');
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;

  &__content {
    margin: 14rem 0;
  }

  &__header {
    font-family: 'Ethnocentric Rg', sans-serif;
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: rgba($color: #fff, $alpha: 0.03) 0 -20px, rgba($color: #fff, $alpha: 0.02) 0 -40px;
  }
}
.textblock {
  max-width: 43%;

  &_text {
    margin: 1rem 0;
  }
  &__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    .cost {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}
.cost{
  color: #9DFFF3;
}
.button {
  font-weight: 700;
  border-radius: 3px;
  transition-duration: .5s;
  background-color: #303030;
  border: 1px solid rgba($color: #fff, $alpha: 0.1);
  display: block;
  text-align: center;


  a{
    padding: .8rem 3rem;
    display: block;
  }
  &:hover{
    background-color: #303030;
    border: 1px solid #fff;
  }
  &:hover a{
    color: #9DFFF3;
  }
  &:active{
    background-color: #456763;
    border: 1px solid #9DFFF3;
  }
  &:active a{
    color: #9DFFF3;
  }
}
.button-blue{
  background-color: #9DFFF3;
  a{
    color: #000;
  }
}
.more {
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .text{
    transition-duration: .5s;
  }

	._icon-arrow {
    font-size: 1.5rem;
    padding-top: .5rem;

      &::before{
        color: #fff;
        transition-duration: .5s;
      }
		}
    &:hover{
      bottom: 5px;
    }

    &:hover ._icon-arrow::before,
    &:hover p{
      color: #9DFFF3;
    }
}

.navigation {
  transform: rotate(90deg);
  position: absolute;
  content: ' ';
  top: 50%;
  left: -1rem;

  a{
    margin-left: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.39);
  }
  a:hover{
    color: #fff;
  }
  .checked {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: .7);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all .8s ease 0s;
  z-index: 300;

  &__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 10px;
    
  }
  &__content {
    text-align: center;
    position: relative;
    transition: all .8s ease 0s;
    transform: translate(0, -100%);
    opacity: 0;
  }
  .popup-content1{
    padding: 3rem;
    min-width: 60%;
    background-color: #161616;
    border: 1px rgba(255, 255, 255, 0.39) solid;
    border-radius: 3px;
  }
  &.open{
    opacity: 1;
    visibility: visible;
  }

  &.open &__content{
    transform: translate(0, 0);
    opacity: 1;
  }

  &__close {
    position: absolute;
    content: " ";
    top: 15px;
    right: 15px;

    img{
      height: 20px;
      width: 20px;
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
  }

  &__form {
    div{
      margin-top: 1rem;
    }
  }
  &__input input{
    width: 100%;
    height: 2rem;
    padding: .5rem;
    font-family: 'Open Sans';
    border-radius: 5px;
  }

  &__radio {
    display: flex;
    position: relative;
    padding-top: 1rem;

    &::before{
      position: absolute;
      content: 'Спосіб доставки';
      top: 0;
      left: 0;
    }
  }
  &__radiobutton {
    padding-right: 1rem;
  }
  &__select select{
    width: 100%;
    height: 2rem;
    padding: .5rem;
    font-family: 'Open Sans';
    border-radius: 5px;
  }
  &__kyiv {
    display: none;
  }
}

@media(max-width: 1399.98px){
  .main{
    text-align: center;
  }
  .textblock {
    max-width: none;
    &__buy {
      justify-content: space-evenly;
  }
}
}
@media(max-width: 990.98px){
  .navigation {
    display: none;
  }
}
@media(max-width: 767.98px){
  .main{
    background-position-x: 80%;

    &__header {
      font-size: 2rem;
    }
  } 
}
@media(max-width: 430.98px){
  .main{
    &__header {
      font-size: 1.2rem;
    }
    &__content{
      margin: 5rem 0;
    }
  } 

  .popup{
    &__content{
      padding: 1rem;
    }
    
    &__radio{
      flex-direction: column;
      align-items: start;
    } 
  }
  .textblock {
    max-width: 100%;
  
    &__buy {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;
      .cost {
        padding-bottom: 1rem;
      }
    }
  }
}


.review {
  background-color: #161616;
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
  }

  &__video{ 
    position: relative;
    img{
      width: 90%;
      height: auto;
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    span{
      position: absolute;
      content: "";
      top: 0;
      right: 2rem;
      background-color: #fafafa;
      padding: 1rem;
      font-size: .8rem;
      color: #000;
      border-radius: 7px;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  
}
.title-textblock {
  font-size: 1.5rem;
}

@media(max-width: 1399.98px){
  .review {
    &__content {
      margin: 7rem 0;
      display: grid;
      grid-template-columns: 100%;
      align-items: center;
      gap: 3rem;
    }

    &__video{
      img{
        width: 100%;
      }
      span{
        right: -1rem;
      }
    }

    &__block {
      align-items: center;
      gap: 1rem;

      p{
        text-align: center;
      }
    }
  }
}

@media(max-width: 767.98px){
  .review {
    &__video{
      span{
        display: none;
      }
    }
  }
}


.why-starmax {
  background-color: #161616;
  position: relative;

  &__items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

    @media(max-width: 1399.98px){
      grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
      
  }

  &__img{
   
    img{
      width: 100%;
    }
  }

  &__text {
   
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
  }
}

.buy {
position: relative; 
z-index: 3;
background-color: #161616;


  &__content {
    margin: 14rem 0;
  }

  &__img {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    z-index: -1;
  }
}

@media(max-width: 1399.98px){
  .buy{
    text-align: center;

    &__content {
      margin: 7rem 0;
    }

    .textblock{
      align-items: center;
    }

    &__img{
      display: none;
    }
  }
}

.swip {
  background-color: #161616;

  &__content {
    margin: 1rem 0;
  }

  .swiper-wrapper {
    align-items: center;
  }
}
.swiper {
  overflow: visible;

 
  .scroll-swiper{
    margin-top: 2rem;

    .swiper-scrollbar.swiper-scrollbar-horizontal{
      bottom: 0; 
      height: 1px;

      &:hover{
        height: 3px;
      }
    }
    .swiper-scrollbar-drag{background: #fff;}
  }
}
@media(max-width: 769.98px) {
  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.footer {
  background-color: #161616;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
  }
}

.textblock {
  &_text {
    text-align: center;
  }
}

.ft{
  ._icon-telegram {
    font-size: 5rem;
    padding: .5rem 40%;
  
      &::before{
        color: #fff;
        transition-duration: .5s;
      }
      &::before:hover{
        color: #9DFFF3;
      }
    }
}

.ft {
  position: absolute;
  content: ' ';
  bottom: -4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.text{
  opacity: 0;
}

._icon-telegram {
  font-size: 5rem;

    &::before{
      color: #fff;
      transition-duration: .5s;
    }
  }

  &:hover ._icon-telegram::before,
  &:hover p{
    color: #9DFFF3;
  }
}





















